@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #F2EEE8;
    padding: 1em 5em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.nav p {
    font-size: 28px;
    font-weight: bold;
}

.nav ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    font-weight: 500;
}

header .welcome {
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

.welcome .leftSide {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.welcome .leftSide h1 {
    font-size: 48px;
    padding-right: 2cm;
    padding-bottom: 0.5cm;
}

.welcome .leftSide p {
    font-size: 18px;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
}

/* ORIGINAL "SIGN UP" BUTTON
.welcome .leftSide button {
    padding: 7px 1em;
    background-color: #d6b076;
    width: 120px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
} */


.welcome .leftSide button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #7b5c2e, #edd7b7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 20px;
    padding: 7px 1em;
    width: 140px;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #715d3e;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.subHeader {
    padding-top: 2em;
    text-align: center;
}

.flexContainer {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.flexContainer .flexItem1, .flexItem2, .flexItem3, .flexItem4{
    
}

.flexContainer img {
    height: 400px;
    width: 300px;
    max-width: 100%;
    min-width: 100%;
    border: solid #715d3e 2px;
    border-radius: 10px;
}

.section3 {
    background-color: #f6ebd3;
    padding: 6cm;
}

.quote{
    font-style: italic;
    text-align: center;
}

.quoter{
    font-size: 16px;
    padding-top: 1em;
    padding-left: 17cm
}

.section4{
    padding: 5em;
}

.signUpMessage h3{
    font-size: 28px;
}

.signUpBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1.7cm;
    margin-left: 3.5cm;
    margin-right: 3.5cm;
    border-radius: 12px;
    background-color: #cfb792;
}

.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #574d3d;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #574d3d;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #574d3d;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #ffffff;
    outline: none;
  }
  
.copyright{
    padding: 1.75em;
    background-color: #574d3d;
}  

.copyright p{
    text-align: center;
    font-size: 9px;
    color:#fff;
}
